.post{background:transparent;color:#404040;margin-top: 10px;padding:0;background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,.1); -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden;}
.post-body{overflow:hidden;text-overflow:ellipsis;height:150px;max-height:150px;font-size:95%;padding:15px 0;color:#99acb6;display:none;}
.post-image{overflow:hidden;background:#eee;position:relative;width:100%;height:auto;margin:auto;padding:0;}
.post-image img{width:100%;height:140px;vertical-align:middle;}
.post-image a.label-info{position:absolute;top:0;left:0;background-color:rgba(57,188,246,.9);padding:6px 9px;color:#fff;text-transform:uppercase;font-size:11px;display:none}
.post-image a.label-info:hover{background-color:rgba(57,188,246,1);color:#fff;text-decoration:underline}
.post-image a.label-info:nth-child(n+3) {display:none;}
.post-image a.comment-info{position:absolute;top:5px;right:8px;color:#fff;text-transform:uppercase;font-size:13px;display:none}
.post-image a.comment-info:hover{color:#fff;}
h3.post-title a, h2.post-title a, h1.post-title a, h3.post-title, h2.post-title, h1.post-title {text-align:left;font-size:15px;text-transform:none;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#464646;padding:15px 5px 5px;margin:0}
.breadcrumbs {display:none;}
.post-outer {width: 31.9%;float: left;margin-left: 10px;}
.post-information {font-weight:600;padding:0 8px 15px;text-transform:none;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.time-info {float:right;margin-right:initial;}
.post-information{margin: auto; font-size: 12px; color: #414042;}
.post-information a {display:inline;background:transparent;color:#999;transition:all .3s ease-out;font-weight:600}
